.button {
  grid-area: button;
  border-radius: 4px;
  background: #0278fe;
  max-width: 248px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  transition: background-color 0.3s linear 0s;
  margin: 0;
  border: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.button:hover {
  background-color: #0063d2;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .button {
    max-width: 340px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .button {
    max-width: 288px;
    padding: 13px 40px;
    margin: 0 16px;
    line-height: 22px;
    text-align: center;
  }
}
