.footer {
  display: flex;
  justify-content: center;
  max-width: 165px;
  margin: 0 auto;
  /* margin: 0 558px 0 557px; */
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 302px 0 301px;
  }

  .footer__copyright {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 78px 0 77px;
  }

  .footer__copyright {
    padding-top: 64px;
    font-size: 14px;
    line-height: 1;
  }
}
