.header {
  max-width: 984px;
  padding-top: 34px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header__logo {
  max-width: 271px;
  max-height: 70px;
}

@media screen and (max-width: 960px) {
  .header {
    margin: 0 249px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 20px;
    margin: 0 60px;
  }

  .header__logo {
    max-width: 200px;
    max-height: 51.85px;
  }
}
