.header {
  max-width: 984px;
  padding-top: 34px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header__logo {
  max-width: 271px;
  max-height: 70px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 249px;
  }
}
