.intro {
  max-width: 785px;
  margin: 0 347px 0 148px;
  padding: 92px 0 118px;
}

.intro__title {
  max-width: 785px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  padding-bottom: 40px;
  text-rendering: optimizeLegibility;
}

.intro__quote {
  max-width: 720px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
  padding-bottom: 10px;
}

.intro__quoter {
  max-width: 720px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
  padding-bottom: 32px;
  text-align: right;
}

.intro__description {
  max-width: 720px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .intro {
    margin: 0 auto;
    padding: 92px 0 118px;
  }
}

@media screen and (max-width: 1032px) {
  .intro {
    width: 93.7%;
    padding: 88px 0 118px;
    margin: 0 auto;
  }

  .intro__title {
    max-width: 100%;
  }

  .intro__quote {
    max-width: 100%;
    font-size: 26px;
  }

  .intro__quoter {
    max-width: 100%;
    font-size: 26px;
  }

  .intro__description {
    max-width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 0 90px;
    margin: 0 24px;
  }

  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    max-width: 90%;
    padding: 64px 0 90px;
    margin: 0 16px;
  }

  .intro__title {
    font-size: 34px;
  }

  .intro__quote {
    line-height: 1.24;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 64px 0 90px;
    margin: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    line-height: 1.25;
  }
}
