.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 48px;
  padding: 0 0 92px 0;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1032px) and (min-width: 600px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    width: 93.7%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    max-width: 720px;
    margin: 0 24px;
    padding: 0 0 89px 0;
  }

  .photo-grid__item {
    max-height: 264px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 12px;
    margin: 0 20px;
    padding: 0 0 64px 0;
  }

  .photo-grid__item {
    max-height: 426px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 288px;
    margin: 0 16px;
    padding: 0 0 62px 0;
    gap: 12px;
  }

  .photo-grid__item {
    max-height: 216px;
  }
}
